body {
    background-color: #fff3e6
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    border-color: gray;
    height: 3px;
    width: 10%;
}

h1 {
    color: #66BFBF;
}
h3 {
    color: #66BFBF;
}